* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ozel classlar
.font-icons {
  font-size: 54px;
  color: #747474;
}

.scrolled {
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #fff;
}
.header-js {
  width: 100%;
  position: fixed;
  z-index: 999;
}

header {
  width: 100%;
  nav {
    width: 85%;
    margin: auto;
    a {
      color: black;
      &:hover {
        color: black;
      }
      strong {
        font-weight: 700;
      }
    }
    .navbar-collapse {
      justify-content: flex-end;
      a {
        color: #3b3a3a;
        &:hover {
          color: black;
        }
      }
    }
  }
}

main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  #hero-sec {
    width: 100%;
    height: 660px;
    background-image: url(/assets/images/slide-03.jpg);
    background-size: cover;
    .hero-sec-main {
      width: 100%;
      height: 660px;
      display: flex;
      align-items: center;
      .hero-text {
        h2 {
          font-size: 64px;
        }
        button {
          background-color: #717fe0;
          padding: 10px 20px;
          border: none;
          border-radius: 35px;
          color: #fff;
          font-weight: 600;
          transition-duration: .5s;
          &:hover {
            background-color: #000;
            transition-duration: .5s;
          }
        }
      }
    }
  }
  #fashion-sec {
    width: 100%;
    .fashion-acces,
    .fashion-men,
    .fashion-women {
      position: relative;
      border: 1px solid gray;
      padding: 35px;
      width: 100%;
      height: 235px;
      .fash-img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
  }
  #product-sec {
    width: 100%;
    .pro-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .pro-navbar {
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          li {
            list-style: none;
            a {
              text-decoration: none;
              color: #000;
            }
          }
        }
      }
      .pro-funk {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        input{
          border: none;
          outline: none;
          border-bottom: 1px solid gray;
        }
        button{
          border: none;
          padding: 5px;
          border-radius: 5px;
          background-color: #717fe0;
          color: #fff;
          font-size: 16px;
          transition-duration: .1s;
          &:hover{
            padding: 3px;
            font-size: 14px;
            background-color: #000;
            border-radius: 3px;
            transition-duration: .1s;
          }
        }
      }
    }
    #products {
      .col-12 {
        position: relative;
        .btn-fixed {
          position: absolute;
          top: 20px;
          right: 20px;
        }
      }
    }
  }
}


// all devices responsive design
@media only screen and (max-width:991px) {
  header{
    background-color: #fff;
  }
  .header-js{
    background-color: #fff;
  }
  main{
    #hero-sec{
      height: 450px;
      .hero-sec-main{
        height: 450px;
        .hero-text{
          h2{
            font-size: 51px;
          }
          h4{
            font-size: 18px;
          }
          button{
            padding: 8px 18px;
          }
        }
      }
    }
    #product-sec{
      .pro-head{
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
@media only screen and (max-width:768px) {
  main{
    #hero-sec{
      height: 450px;
      .hero-sec-main{
        height: 450px;
        .hero-text{
          h2{
            font-size: 45px;
          }
          h4{
            font-size: 16px;
          }
          button{
            padding: 7px 15px;
          }
        }
      }
    }
    #product-sec{
      .pro-head{
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
@media only screen and (max-width:480px) {
  main{
    #hero-sec{
      height: 300px;
      .hero-sec-main{
        height: 300px;
        .hero-text{
          h2{
            font-size: 30px;
          }
          h4{
            font-size: 12px;
          }
          button{
            padding: 5px 10px;
            font-weight: 200;
          }
        }
      }
    }
    #product-sec{
      .pro-head{
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}


